{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<div class="container">
  
	<div class="row" id="pwd-container">
		<div class="col-md-4"></div>

		<div class="col-md-4">
			<section class="login-form">

				{# ------ Formulaire de connexion ------ #}


			<form action="{{ path("fos_user_security_check") }}" method="post" role="login">
				<img alt="logo" width="250" src="{{ asset('img/logoinline.png') }}" />
			    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

			    {# Champ email #}
			    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Saisissez votre adresse e-mail" required="" autofocus="" />

			    {# Champ mot de passe #}
			    <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Mot de passe" required="" />

			    {#
			    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
			    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
			    #}

			    {# Bouton de connexion #}
			    <input type="submit" class="btn btn-lg btn-warning btn-block" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
			</form>

			</section>  
		</div>    
			    
		<div class="col-md-4"></div>		          
		</div>
	</div>
{% endblock fos_user_content %}
