{% extends "::base.html.twig" %}

{% block title %} Liste des articles | {{ parent()}} {% endblock%}

{% block body%}

<div class="container articlepage"> 
  <div class="row">
    <div class="col-md-2">
      <p class="lead">Catégories</p>
      <div class="list-group">
        <a href="#" class="list-group-item active">Produits emballés</a>
        <a href="#" class="list-group-item">Produits en conserve et conditionnés</a>
        <a href="#" class="list-group-item">Viandes et poissons</a>
        <a href="#" class="list-group-item">Boissons & divers</a>
      </div>
    </div>  


    <div class="col-md-7 articles">
      <div class="row articledetail">
        <div class="col-sm-3">
          <br><img src="{{ asset('img/imageEmpty.jpg')}}" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-8">
              <h1>Article 1</h1>
              <p> Réf : 0878909</p>
              <p>Descrition</p>
            </div>
            <div class="col-sm-4">
              <h1>72 €</h1> 
              <p> prix TTC</p>
              <button>Commander</button>
            </div>
          </div>  
        </div>
      </div>

      <div class="row articledetail">
        <div class="col-sm-3">
          <br><img src="{{ asset('img/imageEmpty.jpg')}}" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-8">
              <h1>Article 2</h1>
              <p> Réf : 0985674</p>
              <p>Descrition</p>
            </div>
            <div class="col-sm-4">
              <h1>43 €</h1> 
              <p> prix TTC</p>
              <button>Commander</button>
            </div>
          </div>  
        </div>
      </div>

      <div class="row articledetail">
        <div class="col-sm-3">
          <br><img src="{{ asset('img/imageEmpty.jpg')}}" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-8">
              <h1>Article 3</h1>
              <p> Réf : 6523409</p>
              <p>Descrition</p>
            </div>
            <div class="col-sm-4">
              <h1>09 €</h1> 
              <p> prix TTC</p>
              <button>Commander</button>
            </div>
          </div>  
        </div>
      </div>

      <div class="row articledetail">
        <div class="col-sm-3">
          <br><img src="{{ asset('img/imageEmpty.jpg')}}" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-8">
              <h1>Article 4</h1>
              <p> Réf : 0878909</p>
              <p>Descrition</p>
            </div>
            <div class="col-sm-4">
              <h1>10 €</h1> 
              <p> prix TTC</p>
              <button>Commander</button>
            </div>
          </div>  
        </div>
      </div>

      <div class="row articledetail">
        <div class="col-sm-3">
          <br><img src="{{ asset('img/imageEmpty.jpg')}}" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-8">
              <h1>Article 5</h1>
              <p> Réf : 0878909</p>
              <p>Descrition</p>
            </div>
            <div class="col-sm-4">
              <h1>23 €</h1> 
              <p> prix TTC</p>
              <button>Commander</button>
            </div>
          </div>  
        </div>
      </div>

    </div>

    <div class="col-md-3 panier">
      <p class="lead">Panier</p>
      <table class="table table-hover paniertableau">
        <thead>
          <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Article 1</td>
            <td>1</td>
            <td>12 €</td>
          </tr>
          <tr>
            <td>Article 6</td>
            <td>1</td>
            <td>32 €</td>
          </tr>
          <tr>
            <td>Article 8</td>
            <td>3</td>
            <td>8 €</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-hover paniertableaufinal">
        <thead>
          <tr>
            <th><b>Total</b> </th>
            <th><b> </b> </th>
            <th><b> </b> </th>
            <th><b> </b> </th>
            <th><b> </b> </th>
            <th><b> </b> </th>
            <th><b>68 €</b> </th>
          </tr>
        </thead>
      </table>

      <button> Terminer la commande</button>
    </div>
  </div>
</div>

	
{% endblock %}